{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<style>
    .body { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .content { display: flex; justify-content: center; align-items: center }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="body">
    {{ parent() }}
    <h1>Hola {{ controller_name }}!</h1>

    <div class="content">
        {% for category in categories %}
            <a><button onclick="window.location.href='{{ path('joke', {id: category}) }}'">{{ category }}</button></a><br>
        {% endfor %}
    </div>
</div>
{% endblock %}